<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <style>
    table,
    td,
    th {
      border: 3px solid#d9ccee;
      text-align: left;
      margin: auto;
    }

    h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 30px;
      padding: 20px 0 20px 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    table {
      border-collapse: collapse;
      width: 50%;
    }

    .table-data {
      position: relative;
      left: 150px;
      top: 100px;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <br><br><br>
  <div class="table-data">
    <h1 style="text-align:center;"> Month Summary </h1>
    <table border="1">
      <tr>
        <th>Number of Cares</th>
        <th>Number of Pets</th>
        <th>Number of Pet Days</th>
        <th>Salary So Far</th>
      </tr>
      <tr>
        <td><%=data.care %></td>
        <td><%=data.pet %></td>
        <td><%=data.petday %></td>
        <td><%=data.salary %></td>
      </tr>
    </table>
  </div>

</body>

</html>