<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>We Love Pet Caring!</h1>
    <p>
      We love pets, just like you love pets.
      Here, we offer you our best selected care takers for your beloved pets and the opportunity to start a friendship. 
      You may also join us as a credited care taker, to devote a concerted effort to pet caring togerther with us!
    </p>
    <p>Sign up for free now and start your journey of pet caring!</p>
    <br>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Cheng20010201/CS2102_2021_S1_Team56">
      <span class="glyphicon glyphicon-download"></span> Source on GitHub </a>
    <br><br><br>
    <a type="button" class="btn btn-lg btn-primary" href="/signup" style="background-color: #4d4d4d; border-color: #4d4d4d;"></span> Join Us Now For Free </a>
  </div>
</div>

<div class="container">
  
</div>


</body>
</html>
