<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <style>
    .profile {
      width: 400px;
      margin: auto;
      text-align: center;
    }

    .profile h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 30px;
      padding: 20px 0 20px 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .profile input[type="text"],
    .profile input[type="number"] {
      width: 100%;
      padding: 20px;
      border: 3px solid#d9ccee;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .profile label {
			text-align: left;
			width: 100%;
			color: #4d4d4d;
			font-size: 16px;
			font-weight: lighter;
			font-family: Arial, Helvetica, sans-serif;
			margin-bottom: 20px;
		}

    .profile select {
      width: 100%;
      padding: 20px;
      border: 3px solid#d9ccee;
      margin-bottom: 20px;
      box-sizing: border-box;
    }


  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <br><br><br>
  <div class="profile">
    <h1 style="text-align:center;"> Add My Pet </h1>
    <form action="/petOwner/pets/addProfile" method="POST">
        <label>Name:</label><br>
        <input type="text" name="petName" placeholder="Pet Name" required>
        <label>Type:</label><br>
        <select name="petType" required>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="mouse">Mouse</option>
          <option value="squirrel">Squirrel</option>
          <option value="rabbit">Rabbit</option>
          <option value="pig">Guinea Pig</option>
          <option value="ferret">Ferret</option>
          <option value="bird">Bird</option>
          <option value="insect">Insect</option>
          <option value="frog">Frog</option>
          <option value="turtle">Turtle</option>
          <option value="fish">Fish</option>
          <option value="snake">Snake</option>
          <option value="lizzard">Lizzard</option>
        </select>        
        <label>Age:</label><br>
        <input type="number" name="petAge" placeholder="Pet Age">
        <label>Gender:</label><br>
        <input type="text" name="petGender" placeholder="male/female">
        <label>Remark:</label><br>
        <input type="text" name="specReq" placeholder="Special Requirement">                
      <br><br>
      <input type="submit" class="btn btn-lg btn-primary" style="background-color: #532f8c;">
      <a type="button" class="btn btn-lg btn-primary" style="background-color: #4d4d4d;" href="/petowner/pets"></span>
        Return </a>
    </form>
  </div>

</body>

</html>